form {
  box-sizing: border-box;
  width: 50%;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
label {
  font-size: large;
  font-weight: bold;
}
input {
  width: 20%;
  height: 20px;
  margin-bottom: 20px;
}

button {
  width: 10%;
  height: 20px;
}
